<footer role="contentinfo" class='post-footer'>
    <div class="inner">
        <div class="vcard">
          <a href="{{ site.baseurl }}/feed.xml" id="btn_feed" class="btn" title="Feed" target="_blank">
                <span aria-hidden="true" data-icon=")"></span>
                <strong>Feed</strong>
            </a>

            {% if site.logo %}
            <a href="{{ site.baseurl }}" class="photo circle">
              <span style="background-image: url('{{ site.baseurl }}/assets/images/{{ site.logo }}');">
                <img src="{{ site.baseurl }}/assets/images/{{ site.logo }}" alt="{{ site.title }}"/>
              </span>
            </a>
            {% endif %}

            <div class="details">
                <h4><a href="{{ site.url }}" class="url n">{{ site.title }}</a></h4>
                <a href="{{ site.baseurl | prepend: site.url }}" class="js-remove-domain-schema">{{ site.url }}{{ site.baseurl }}</a><br>
                <h4>Follow me at:</h4>
                <a style="margin-left:10px;" href="https://github.com/qq30135878" target="_blank"><img src="/assets/images/octocat.png" />
                </a>
                <a style="margin-left:10px;" href="http://weibo.com/zoombin" target="_blank"><img src="/assets/images/weibo.png" />
                </a>
                <a style="margin-left:10px;" href="http://douyutv.com/zhangbin" target="_blank"><img src="/assets/images/douyutv.png" />
                </a>
            </div>
        </div>
        <div id="user_bio">
            <div class="inner">
                {{ site.description }}
            </div>
        </div>
    </div>
</footer>
